################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocumentStore/DocumentStore.csproj.user
/.vs/DocumentStore/v15
/DocumentStore/obj/Debug
/DocumentStore/bin/Debug
/Setup/Debug
/packages/DocX.1.2.1
/.vs/DocumentStore/DesignTimeBuild
/DocumentStore/bin/Release
/DocumentStore/obj/Release
/Setup/Release
/packages
